<head>
  <%= javascript_pack_tag 'application'%>
  <%= javascript_pack_tag 'hello_vue' %>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
</head>
<body>
  <%= yield %>
</body>