<head>
  <%= javascript_pack_tag 'application'%>
  <%= javascript_pack_tag 'hello_vue' %>
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <style type="text/css">
      body { margin:0; }
  </style>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap" rel="stylesheet">
</head>
<body>
  <%= yield %>
</body>